{%extends 'base.html'%}
{%load static%}

{%block main_block%}
<!-- <div class="bg-dark" style="height: 80px;"> <span>|</span></div> -->

<div class="hero-wrap ftco-degree-bg" style="background-image: url('static/images/bg_2.jpg'); background-color:rgb(0, 159, 80) ;" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
      <div class="col-lg-8 ftco-animate">
        <form action="" method="post">
          {%csrf_token%}
          <section class="ftco-section contact-section border">
            <div class="container">
              <div class="row d-flex mb-5 contact-info justify-content-around">
        
                <div class="row">
                  <div class="col-6">
                    <div class="border w-100 p-4 rounded mb-2 d-flex">
                    <div class="icon mr-3">
                        <span class="icon-mobile-phone"></span>
                    </div>
                  <p><span class="text-white">Phone:</span><input type="text" name="phone"></p>
                </div>
              </div>
                  <div class="col-6">
                    <div class="border w-100 p-4 rounded mb-2 d-flex">
                      <div class="icon mr-3">
                          <span class="icon-envelope-o"></span>
                      </div>
                    <p><span class="text-white">Email:</span> <input type="email" name="email" value="{{request.user.email}}"></p>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                 <div >
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Name" name="name">
                  </div>
              </div></div>
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4 text-center">  
                              <button type="submit" class="btn btn-primary py-3 px-5">Book</button>
                </div>
                <div class="col-4"></div>
              </div>
             
            </div>
          </section>
           </form>
      </div>
    </div>
  </div>
</div>






{%endblock%}