{%extends 'base.html'%}
{%load static%}

{%block main_block%}
<div class="bg-dark" style="height: 80px;"> <span>|</span></div>

<section class="ftco-section ftco-about">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" >
        <img src="{{data.image.url}}" alt="" class="w-100">
      </div>
      <div class="col-md-6 wrap-about ftco-animate">
        <div class="heading-section heading-section-white pl-md-5">
          <span class="subheading">{{data.brand_object}}</span>
          <h2 class="mb-4">{{data.name}}</h2>
          <div class="mb-3">
            <button class="btn btn-outline-primary text-white">year: {{data.year}}</button>
          <button class="btn btn-outline-primary text-white">fuel: {{data.fuel_type}}</button>
          <button class="btn btn-outline-primary text-white">Reg.state: {{data.registered_state}}</button>
          <button class="btn btn-outline-primary text-white">distance: {{data.distance_travelled}}km</button>
          </div>

          <div>
            <h4 class="text-white">
              Decsription
            </h4>
            <p>
              {{data.description}}
            </p>
          </div>

          <form action="{%url 'favorite' data.id%}" method="post">
            {%csrf_token%}

            {%if data.is_sold%}
            <button type="" class="btn btn-primary btn-lg" style="height: 40px;">Not Available</button>

            {%else%}
            
            <button type="submit" class="btn btn-primary btn-lg" style="height: 40px;">Add To Wishlist</button>

            {%endif%}
          </form>


        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}