{%extends 'base.html'%}


{%block main_block%}

<div class="sp mx-auto w-10/12 px-2 py-10 lg:px-0">
  <div class="overflow-hidden">
    <div class="mb-9 pt-4 md:px-6 md:pt-7 lg:mb-2 lg:p-8 2xl:p-10 2xl:pt-10">
      <div class="items-start justify-between lg:flex lg:space-x-8">
        <div class="mb-6 items-center justify-center overflow-hidden md:mb-8 lg:mb-0 xl:flex">
          <div class="w-full xl:flex xl:flex-row-reverse">
            <div class="relative mb-2.5 w-full shrink-0 overflow-hidden rounded-md border md:mb-3 xl:w-[480px] 2xl:w-[650px]">
              <div class="relative flex items-center justify-center">
                <img
                  alt="Product gallery 1"
                  src="{{data.image.url}}"
                  width="650"
                  height="590"
                  class="rounded-lg object-cover md:h-[300px] md:w-full lg:h-full"
                />
              </div>
              
            </div>
            
          </div>
        </div>
        <div class="flex shrink-0 flex-col lg:w-[430px] xl:w-[470px] 2xl:w-[480px]">
          <div class="pb-5">
            <h1 class="text-2xl font-bold md:text-xl xl:text-2xl">
              {{data.brand_object}}
            </h1>
            <h2 class="text-lg font-semibold md:text-xl xl:text-2xl">
              {{data.name}}
            </h2>
            <p class="mt-4 font-semibold">₹.{{data.price}}</p>
          </div>
          <div class="mb-2 pt-0.5">
            <div class="">
              <div class="mt-2">
                  manufactuaring year: <strong> {{data.year}}</strong>
              </div>
              <div class="mt-2">
                  Reg.State : <strong>{{data.registered_state}}</strong>    
              </div>
              <div class="mt-2">
                  
                    Fuel Type : <strong>{{data.fuel_type}}</strong>   
              </div>
  
              <div class="mt-2">
                  
                    Distance Travelled: <strong>{{data.distance_travelled}}</strong>    
              </div>
          </div>
          </div>
          
          <div class="pb-2"></div>
          <div class="space-y-2.5 pt-1.5 md:space-y-3.5 lg:pt-3 xl:pt-4">
            <div class="grid grid-cols-2 gap-2.5">
              <button
                type="button"
                class="inline-flex items-center justify-center rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="mr-3"
                >
                  <path d="M20.42 4.58a5.4 5.4 0 0 0-7.65 0l-.77.78-.77-.78a5.4 5.4 0 0 0-7.65 0C1.46 6.7 1.33 10.28 4 13l8 8 8-8c2.67-2.72 2.54-6.3.42-8.42z"></path>
                </svg>
                <span class="block">Wishlist</span>
              </button>
              <div class="relative">
                <button
                  type="button"
                  class="inline-flex w-full items-center justify-center rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                >
                 

                  <span class="block">Book</span>
                </button>
              </div>
            </div>
          </div>
          <div class="pt-6 xl:pt-8">
            <h3 class="text-xl mb-3 font-semibold sm:text-base lg:mb-3.5">
              Details:
            </h3>
            <p class="text-lg">
              {{data.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}