{%extends 'base.html'%}

{%load static%}


{%block main_block%}
<div class="bg-dark" style="height: 80px;"> <span></span></div>

<div class="row mt-3">
  <div class="col-4"></div>
  <div class="col-4 text-center"><h4>Orders</h4></div>
  <div class="col-4"></div>
</div>


{%if data%}

<div class="container">
  <div class="row mt-2  ms-3">

    <div class="col-2 "> </div>


      

    <div class="col-8 card">
       {%for o in data%}

       <div class="card mt-3 ms-3 mb-3 p-2" style="max-width: 100%;">

        <span class="text-black">
           user: {{o.user_object}}
        </span>


          E-mail: {{o.email}}

        <p>
          Phone: {{o.phone}}
        </p>

       </div>


       {%for oi in o.get_order_items%}

       <div class="card mt-2 ms-3 mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{oi.basket_item_object.car_object.image.url}}" class="img-fluid rounded-start w-100" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{oi.basket_item_object.car_object.name}}</h5>
              <p class="card-text">{{oi.basket_item_object.car_object.brand_object}}</p>

            </div>
          </div>
        </div>
      </div>

       {%endfor%}

       {%endfor%}
    </div>

    <div class="col-2">


</div>
</div>
</div>
{%endif%}


{%endblock%}